.player-image {
    width: 100%;
    height: auto;  /* Maintenir le ratio de l'image */
    max-height: 200px;  /* Hauteur maximale des images */
    object-fit: cover;  /* Couper ou remplir l'image pour qu'elle s'adapte à l'espace */
}